<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
        {% load staticfiles %}        
		<title>Cooperativa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'home/assets/css/main.css' %}" />
	</head>
	<body>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>CoopYissa</h2>
        <ul class="actions">
            <li><span class="icon fa-phone"></span> <a href="#">(593) 969-899-125</a></li>
            <li><span class="icon fa-envelope"></span> <a href="#">coopyissa@gmail.com</a></li>
            <li><span class="icon fa-map-marker"></span> Juan Montalvo y Antonio Narino, Loja, N 359</li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Yulissa Torres. Design <a href="https://templated.co">TEMPLATED</a>.
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'home/assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'home/assets/js/skel.min.js' %}"></script>
<script src="{% static 'home/assets/js/util.js' %}"></script>
<script src="{% static 'home/assets/js/main.js' %}"></script>

</body>
</html>