{% extends 'master/master.html' %}


{% block contenido%}
<div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                        <hr>
                        <h4><i class="fa fa-angle-right"></i> Clientes de CoopYissa</h4>
                        <hr>
                    <thead>
                    <tr>
                        <th><i class="far fa-address-card"></i> Cédula</th>
                        <th><i class="far fa-user-circle"></i> Nombres</th>
                        <th><i class="far fa-user-circle"></i> Apellidos</th>
                        <th><i class="fas fa-transgender"></i> Género</th>
                        <th><i class="far fa-address-card"></i> Estado Civil</th>
                        <th><i class="fas fa-calendar-day"></i> Fecha de Nacimiento</th>
                        <th><i class="fas fa-at"></i> Email</th>
                        <th><i class="fas fa-phone-square"></i> Teléfono</th>
                        <th><i class="fas fa-mobile-alt"></i> Celular</th>
                        <th><i class="fas fa-address-card"></i> Dirección</th>
                        <th><i class="far fa-minus-square"></i> Estado</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in listaC%}
                    <tr>
                        <td class="hidden-phone" >{{i.cedula}}</td>
                        <td class="hidden-phone">{{i.nombres}}</td>
                        <td class="hidden-phone" >{{i.apellidos}}</td>
                        <td class="hidden-phone">{{i.genero}}</td>
                        <td class="hidden-phone" >{{i.estadoCivil}}</td>
                        <td class="hidden-phone">{{i.fechaNacimiento}}</td>
                        <td class="hidden-phone">{{i.correo}}</td>
                        <td class="hidden-phone" >{{i.telefono}}</td>
                        <td class="hidden-phone">{{i.celular}}</td>
                        <td class="hidden-phone">{{i.direccion}}</td>

                        {% if i.estado == True%}
                        <td><span class="label label-success label-mini">Activo</span></td>
                        {% else %}
                        <td><span class="label label-warning label-mini">Inactivo</span></td>
                        {% endif %}

                        
                    </tr>
                    {% endfor %}
                   
                    </tbody>
                </table>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div><!-- /row -->
    {% endblock%}
